#navbar {
    position: fixed;
    padding: 15px;
    border: 1px solid rgba(34,36,38,.15);
    background: #fff;
    transition: all 0.4s linear;

    .header {
        font-size: 2rem;
    }

    #logo:hover {
        background: #fff;
    }
}

.small {
    padding: 0 !important;

    .header {
        font-size: 1.5rem !important;
    }
}
