#product-name {
    margin: 0;
}

#price {
    margin-top: 0.5rem;
}

#rating {
    margin-top: 1.5rem;
}

#quantity .input {
    width: 50px;

    input {
        text-align: center;
    }
}

#content-wrapper img {
    height: 250px;
}
